body {
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p {
    margin: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.header::after {
    content: url('../img/central-bg-top.png');
    display: inline-block;
}

.header .first-line-block {
    background-color: #00122f;
    color: #ffffff;

}

.header .first-line-block .wrapper {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    max-height: 55px;
}

.header .first-line-block a {
    color: #ffffff;
}

.header .first-line-block .header-text,
.header .first-line-block .header-date {
    margin-top: 0;
}

.header .second-line-block {
    background-color: #ffffff;
}

.header .second-line-block .first-block {
    box-sizing: border-box;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
}

.header .second-line-block .first-block .left-side-block,
.header .second-line-block .first-block .right-side-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .second-line-block .first-block .left-side-block .mobile-menu-button {
    margin-left: 10px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
}

.header .second-line-block .first-block .left-side-block .mobile-menu-button input {
    position: absolute;
    left: -5px;
    width: 75px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
}

.header .second-line-block .first-block .left-side-block .mobile-menu-button input:checked ~ .nav-menu {
    display: block;
}

.header .second-line-block .first-block .left-side-block .mobile-menu-button span {
    width: 45px;
    height: 3px;
    background: #000000;
    display: block;
    margin-bottom: 5px;
}

.first-block .left-side-block .nav-menu {
    display: none;
    position: absolute;;
    top: 175px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.first-block .left-side-block .nav-menu a {
    padding: 20px;
    display: block;
    text-align: center;
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid #000000;
}

.first-block .left-side-block .nav-menu a:first-child {
    border-top: 2px solid #000000;
}


.header .second-line-block .first-block .left-side-block .logo {
    margin-right: 60px;
}

.header .second-line-block .first-block .left-side-block .location {
    color: #448ccb;
    text-decoration: none;
    border-bottom: 1px dashed #448ccb;
}

.header .second-line-block .first-block .left-side-block .location::after {
    position: relative;
    left: 8px;
    bottom: 2px;
    content: url('../img/down-arrow.png');
}

.header .second-line-block .first-block .right-side-block .weather {
    margin-right: 50px;
    color: #91919f;
}

.header .second-line-block .first-block .right-side-block .weather::before {
    position: relative;
    right: 8px;
    bottom: -3px;
    content: url('../img/weather.png');
}


.header .second-line-block .first-block .right-side-block .search {
    width: 320px;
    height: 45px;
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
    border-radius: 40px;
    color: #a7a7a7;
}

.header .second-line-block .first-block .right-side-block .search::placeholder {
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 0.875rem;
}

.header .second-line-block .first-block .right-side-block .search-icon::before {
    position: relative;
    content: url('../img/search.png');
    right: 40px;
    bottom: -3px;
    cursor: pointer;
}


.header .second-line-block .second-block {
    box-sizing: border-box;
    min-height: 50px;
    padding-bottom: 35px;
}

.header .second-line-block .second-block a {
    color: #000000;
    text-decoration: none;
}

.header .second-line-block .second-block a::after {
    margin-left: 20px;
    margin-right: 20px;
    content: '/';
    color: #e1e1e5;
}

.header .second-line-block .second-block a:last-child::after {
    content: none;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main .first-column {
    flex-basis: 250px;
    background-color: #ffffff;
    flex-grow: 1;
}

.main .second-column {
    margin-left: 20px;
    margin-right: 20px;
    flex-basis: 460px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 3;
}

.main .third-column {
    flex-basis: 250px;
}

.main .daily-news-block {
    box-sizing: border-box;
}

.main .daily-news-header-block {
    padding-left: 20px;
}

.main .daily-news-block-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.main .daily-news-block .daily-news-header-block {
    border-bottom: 2px solid #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main .daily-news-block .daily-news-header-block h2{
    font-size: 1.25rem;
}

.daily-news-block .news-card:first-child {
    margin-top: 35px;
}


.daily-news-block .news-card {
    margin-top: 30px;
    font-size: 0.75rem;
}

.daily-news-block .news-card-header {
    font-size: 0.875rem;
}

.daily-news-block .news-card-category,
.daily-news-block .news-card-time,
.daily-news-block .news-card-comment {
    display: inline-block;
}

.daily-news-block .news-card-header {
    margin-bottom: 20px;
}

.news-card-category::before {
    content: '/';
    margin-right: 2px;
}

.news-card-category {
    width: 100px;
    color: #91919f;
}

.daily-news-block .news-card-time::before {
    content: url('../img/icon-time.png');
    margin-right: 3px;
    position: relative;
    bottom: -1px;
}

.daily-news-block .news-card-time {
    margin-right: 20px;
}

.daily-news-block .news-card-comment::before {
    content: url('../img/icon-comments.png');
    margin-right: 3px;
    position: relative;
    bottom: -1px;
}

.daily-news-block .daily-news-button {
    display: inline-block;
    width: 180px;
    padding-bottom: 17px;
    padding-top: 17px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid #448ccb;
    border-radius: 30px;
    color: #448ccb;
    text-align: center;
    text-decoration: none;
}

.big-block-first {
    height: 322px;
    background-image: url('../img/photo-5.jpg');
    background-size: cover;
    color: #ffffff;
    font-size: 0.75rem;
}

.big-block-first .big-block-content {
    margin-top: 110px;
    margin-left: 15px;
    margin-right: 15px
}

.big-block-first .news-card-header {
    font-size: 	1.875rem;
    margin-bottom: 30px;;
}

.big-block-first .news-card-category {
    color: #ffffff;
    margin-bottom: 25px;
}

.big-block-first .news-card-date,
.big-block-first .news-card-time {
    display: inline-block;
}

.big-block-first .news-card-date {
    margin-right: 20px;
}

.big-block-first .news-card-time::before {
    content: url('../img/icon-time-transparency.png');
    margin-right: 3px;
    position: relative;
    bottom: -2px;
}

.big-block-second {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.big-block-second .news-card {
    flex-basis: 222px;
    margin-bottom: 20px;
}

.big-block-second .news-card-header {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.big-block-second .news-card-category,
.big-block-second .news-card-time,
.big-block-second .news-card-comment {
    font-size: 0.875rem;
    display: inline-block;
}

.big-block-second .news-card-category {
    width: 72px;
}

.big-block-second .news-card-time::before {
    content: url('../img/icon-time.png');
    margin-right: 3px;
    position: relative;
    bottom: -1px;
}

.big-block-second .news-card-time {
    margin-right: 20px;
}


.big-block-second .news-card-comment::before {
    content: url('../img/icon-comments.png');
    margin-right: 3px;
    position: relative;
    bottom: -1px;
}

.banner-first {
    margin-bottom: 16px;
}

.big-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 60px;
}

.big-block-third {
    min-height: 395px;
    background-image: url('../img/photo-6.jpg');
    background-size: cover;
    color: #ffffff;
    font-size: 0.75rem;
    flex-basis: 588px;
}

.big-block-third .big-block-content {
    margin-top: 110px;
    margin-left: 15px;
    margin-right: 15px
}

.big-block-third .news-card-header {
    font-size: 1.875rem;
    margin-bottom: 30px;
}

.big-block-third .news-card-category {
    color: #ffffff;
    margin-bottom: 25px;
}

.big-block-third .news-card-date,
.big-block-third .news-card-time {
    display: inline-block;
}

.big-block-third .news-card-date {
    margin-right: 20px;
}

.big-block-third.news-card-time::before {
    content: url('../img/icon-time-transparency.png');
    margin-right: 3px;
    position: relative;
    bottom: -1px;
}

.popular-news-block {
    flex-basis: 413px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffffff;
}

.popular-news-block .popular-news-header-block h2{
    font-size: 1.25rem;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e5e5e5;
    margin: 0;
}

.popular-news-block .news-card-category,
.popular-news-block .news-card-time,
.popular-news-block .news-card-comment{
    font-weight: normal;
    display: inline-block;
    font-size: 0.75rem;
    
}

.popular-news-block .news-card-time {
    margin-right: 20px;
}

.popular-news-block .news-card:first-child {
    margin-top: 25px;
}

.popular-news-block .news-card {
    margin-top: 30px;
}

.popular-news-block .news-card-header {
    margin-bottom: 15px;
}

.popular-news-block .news-card-time::before {
    content: url('../img/icon-time.png');
    margin-right: 3px;
    position: relative;
    bottom: -1px;
}

.popular-news-block .news-card-comment::before {
    content: url('../img/icon-comments.png');
    margin-right: 3px;
    position: relative;
    bottom: -2px;
}

.footer {
    box-sizing: border-box;
    background-color: #00122f;
    height: 311px;
}

.footer .first-line-block {
    color: #ffffff;
    font-size: 1rem;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .first-line-block .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .first-line-block .column-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 245px;
}

.footer .column-left .first-column-left,
.footer .column-left .second-column-left,
.footer .column-center,
.footer .column-right {
    display: flex;
    flex-direction: column;
}

.footer .first-line-block a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-right: 60px;
}

.footer .column-center img {
    width: 121px;
    height: 40px;
    margin-bottom: 20px;
}

.footer .column-right .social-block  {
    display: flex;
    flex-direction: row;
}

.footer .column-right .social-block a {
    padding: 0;
    margin-right: 20px;
}

.footer .second-line-block {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #26354e;
    color: #91919f;
    text-align: center;
    background-color: #00122f;;
}

@media (max-width: 1016px) {
    .big-block-second {
        justify-content: space-evenly;
    }

    .big-block-second img {
        width: 100%;
    }

    .third-column {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .third-column {
        display: none;
    }

}

@media (max-width: 1003px) {
    body {
        font-size: 14px;
    }

    .header .second-line-block .first-block .right-side-block .weather {
        display: none;
    }

    .header .second-line-block .second-block {
        display: none;
    }

    .header .second-line-block .first-block .left-side-block .mobile-menu-button {
        display: block;
    }

    .main .daily-news-block-wrapper .daily-news-button {
        align-self: center
    }

    .main .daily-news-header-block {
        text-align: center;
    }

    .big-block-first {
        margin-top: 20px;
    }

}

@media (max-width: 766px) {
    body {
        font-size: 12px;
    }

    .footer .first-line-block .column-left {
        display: none;
    }


    .big-block-second {
        justify-content: space-evenly;
        ;
    }

    .big-block-second .news-card:last-child {
        display: none;
    }

    .footer .first-line-block .wrapper {
        justify-content: space-around;
    }
}

@media (max-width: 723px) {

    .header .second-line-block .first-block .right-side-block .search {
        display: none;
    }

    .header .second-line-block .first-block .right-side-block .search-icon::before {
        display: none;
    }
    

    .big-block-second .news-card:last-child {
        display: block;
    }

    .big-wrapper {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .big-wrapper .big-block-third {
        background-color: #f9f9f9;
        margin-bottom: 20px;
    }

}

@media (max-width: 501px) {

    .header .first-line-block .wrapper {
        display: block;
    }

    .header .first-line-block .header-date {
        display: none;
    }

    .header .first-line-block .header-text {
        text-align: center;
    }

    .big-block-second .news-card {
        flex-grow: 1;
        text-align: center;
    }
    
}

@media (max-width: 420px) {
    .header .second-line-block .first-block .left-side-block .location {
        display: none;
    }
}
